#root {
  height: 100vh;
  width: 100vw;
  padding: 0 25vw;
  display: flex;
  flex-flow: column nowrap;
  gap: 3rem;
  align-items: stretch;

  @media (max-width: 100ch) {
    padding: 0 5vw;
  }
  > * {
    text-align: center;
  }
}

form#newEventForm > label {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;
  gap: 1rem;
  > input {
    background-color: var(--main-white-color);
    border-radius: 2rem;
    border: none;
    height: 1rem;
    color: var(--main-black-color);
    padding: 0.5rem 1rem 0.55rem;
  }
}
