#root {
  width: 100vw;
  padding: 0 25vw;
  margin-bottom: 6rem;
  display: flex;
  flex-flow: column nowrap;
  gap: 3rem;
  align-items: stretch;

  @media (max-width: 100ch) {
    padding: 0 5vw;
  }
  > * {
    text-align: center;
  }
}

form#newEventForm > label {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;
  gap: 1rem;
  > input {
    background-color: var(--main-white-color);
    border-radius: 2rem;
    border: none;
    height: 1em;
    color: var(--main-black-color);
    padding: 0.5em 1em 0.55em;
    font-size: var(--font-size-p);
  }
}
