#root {
  width: 100vw;
  padding: 0 25vw;
  margin-bottom: 6rem;
  display: flex;
  flex-flow: column nowrap;
  gap: 3rem;
  align-items: stretch;

  @media (max-width: 100ch) {
    padding: 0 5vw;
  }
  > * {
    text-align: center;
  }
}

form#newEventForm > label {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: stretch;
  gap: 1rem;
}
